<div class="container profile-cont">
    <h1>¡Bienvenida a tu perfil, {{user.username}}!</h1>
    <hr>
    <p>Aquí puedes ver tus influencers favoritas:</p>

    <div class="row justify-content-center align-items-center">
        {{#each user.favourites}}
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top img-card" src="{{image}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    <p class="card-text"></p>
                    {{#if ../isAdmin}}
                    <a href="/influencer/editar-influencer?id={{id}}" class="btn text-white btn-sm">Editar</a>
                    {{/if}}
                    <a href="/influencer/favorita/borrar/{{id}}" class="btn text-white btn-sm">Eliminar</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>