<div class="container coasters-index">

    <div class="row justify-content-center align-items-center">
        <div class="col-2">
            <img class="logo-agency" src="{{logo}}">
        </div>
        <div class="col-10">
            <h3>{{name}}</h3>
            <h6>{{street}}</h6>
            <hr>
            <p>Influencers con las que colabora:</p>
        </div>
        {{#each influencer}}
        <div class="col-sm-4 col-md-6 col-lg-4">
            <div class="card" style="width: 18rem;">
                <a href="/influencer/{{id}}"><img class="card-img-top img-card" src="{{image}}" alt="Card image cap"></a>
                <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

{{>footer this}}